.classpath
.DS_STORE
.idea/
.gradle/
.nb-gradle
.metadata
.project
.settings/

*.class
*.db
*.iml
*.orig
*.patch
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*

/bin/
build/
log/
out
RemoteSystemsTempFiles/
results/
generatedResources/
target/